[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansicolors = "*"
certifi = "*"
chardet = "*"
Click = "*"
Flask = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pymongo = "*"
pypertrail = "*"
python-dotenv = "*"
pytz = "*"
PyYAML = "*"
redis = "*"
requests = "*"
rq = "*"
urllib3 = "*"
Werkzeug = "*"

[requires]
python_version = "3.8.2"
