<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>DankBot Stats</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	</head>
	<body>
		<h1>DankBot Stats</h1>
		<p>
			DankBot has received {{ total_events }} messages in the last week.
			<br>
			Further, DankBot has {{ total_users }} active users
			who are a part of {{ total_groups }} groups.
			<br><br>
			This data was last refreshed on {{ last_updated }} IST (UTC+5:30).
			Since then, it's been {{ time_since }}.
			<br>
			To refresh, please click
			<a href="https://dankbot-stats.herokuapp.com/refresh/">here</a>.
		</p>

		<script src="{{ url_for('static', filename='common.js') }}"></script>
		<script src="{{ url_for('static', filename='index.js') }}"></script>
	</body>
</html>
